@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Raleway:wght@700&display=swap');
@import "tailwindcss";

@theme {
  --color-brand-orange: #F84F16;
  --color-brand-brown: #4B3725;
  --color-brand-beige: #F1DEA9;
  --color-brand-blue: #222545;
  --color-brand-charcoal: #080808;
  --color-brand-light-grey: #F5F5F5;
  --font-sans: "Montserrat", ui-sans-serif, system-ui, sans-serif;
  --font-title: "Raleway", sans-serif;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
}

.vertical-text {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
}
